# Version control
.git
.gitignore

# Dependencies
node_modules

# Build Output
dist
build
*.tsbuildinfo

# Logs & Diagnostics
*.log
logs
npm-debug.log*
pnpm-debug.log*

# Environment & Secrets
.env
.env.*
*.local

# IDEs & OS
.vscode
.idea
.DS_Store
Thumbs.db

# Testing & Documentation
coverage
.nyc_output
README.md
