NODE_ENV=development
PORT=3005
# PostgreSQL Connection (Support Database)
DATABASE_URL="postgresql://postgres:12345@localhost:5433/workerdb?schema=public"
KAFKA_BROKERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
STATEMENTS_DIR=/tmp/statements
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=worker-service
