# ==============================================================================
# EJEMPLO DE CONFIGURACIÓN GLOBAL - FINTECH WALLET
# ==============================================================================

# Database Configuration (PostgreSQL 16)
DB_USERNAME=postgres
DB_PASSWORD=12345
POSTGRES_CORE_PORT=5432
POSTGRES_SUPPORT_PORT=5433
PGBOUNCER_PORT=6432

# JWT Security
JWT_SECRET=dGhpc2lzYXNlY3JldGtleWZvcmp3dHRva2VudmFsaWRhdGlvbmZpbnRlYch3YWxsZXQ=

# SigNoz Observability
SIGNOZ_FRONTEND_PORT=3301
SIGNOZ_QUERY_SERVICE_PORT=8085
SIGNOZ_API_KEY=
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

# Email Service
GMAIL_USER=
GMAIL_APP_PASSWORD=