# SigNoz Ports
SIGNOZ_FRONTEND_PORT=3301
SIGNOZ_QUERY_SERVICE_PORT=8085

# OpenTelemetry Exporter Config for Java Agent
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

# GMAIL Configuration placeholders (if any)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# SigNoz MCP Server API Key (Settings -> Service Accounts)
SIGNOZ_API_KEY=

# Database Configuration
DB_USERNAME=
DB_PASSWORD=