PORT=3003
NODE_ENV=development

# MySQL Database URL for transactiondb
DATABASE_URL="mysql://root:12345@localhost:3306/transactiondb"

# Redis Configuration (Idempotency & Cache)
REDIS_HOST="localhost"
REDIS_PORT=6379

# gRPC Client Endpoint (user-service)
USER_SERVICE_GRPC_URL="localhost:50051"

# Kafka Broker Configuration
KAFKA_BROKERS="localhost:9092"
KAFKA_CLIENT_ID="transaction-service"

# OpenTelemetry / SigNoz Collector
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_SERVICE_NAME="transaction-service"
