NODE_ENV=development
PORT=3003
# PostgreSQL Connection (Core Database)
DATABASE_URL="postgresql://postgres:12345@localhost:5432/transactiondb?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
USER_SERVICE_URL="http://localhost:3002"
USER_SERVICE_GRPC_URL="localhost:9090"
KAFKA_BROKERS="localhost:9092"
KAFKA_CLIENT_ID="transaction-service"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_SERVICE_NAME="transaction-service"
