NODE_ENV=development
PORT=3002
# PostgreSQL Connection (Core Database)
DATABASE_URL="postgresql://postgres:12345@localhost:5432/userdb?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
GRPC_PORT=9090
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=user-service
